@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bricolage Grotesque", sans-serif;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  width: 100%;
  z-index: 999;
  .socialbox {
    gap: 20px;
    i {
      color: white;
      opacity: 1;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .logobox {
    background: whitesmoke;
    background-blend-mode: multiply;
    width: 200px;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  .navbarbox {
    .togglerbtn {
      i {
        font-size: 20px;
        color: white;
        &:hover {
          opacity: 0.7;
        }
      }
      &:active {
        border-color: transparent;
      }
    }
  }
}
.heroBanner {
  overflow-x: hidden;
  .slider-wrapper {
    filter: brightness(1.2);
    .duoimg-container {
      display: block;
      .left-imgbnr {
        width: 100%;
        height: 100vh;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .rgt-imgbnr {
        position: relative;
        width: 100%;
        height: 100vh;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .bnrtxt {
          padding: 75px 50px 75px 75px;
          background: white;
          position: absolute;
          top: 50%;
          left: -120px;
          transform: translateY(-50%);

          p {
            font-size: 0.6rem;
            font-weight: 600;
            text-transform: uppercase;
            text-decoration: underline;
            color: #d30000;
          }
          h1 {
            text-transform: capitalize;
          }
          button.btn {
            position: absolute;
            text-transform: uppercase;
            bottom: 0;
            right: 0;
            font-size: 0.6rem;
            padding: 10px 20px;
            border-radius: 0;
            font-weight: 700;
            background: black;
            color: white;
            &:active {
              border-color: black;
            }
          }
        }
      }
    }
    .slick-dots {
      bottom: 0;

      li {
        width: 10px;
      }

      button {
        display: block;
        width: 10px;
        height: 10px;
        padding: 0;

        border: 2px solid white;
        border-radius: 100%;

        text-indent: -9999px;
      }

      li.slick-active button {
        background-color: white;
      }
    }
  }
}
.handcraft-article {
  margin: 75px 0;
  p.arti-title {
    color: #fd2121;
    font-weight: 600;
  }
  .left-text {
    h4 {
      font-size: 40px;
      line-height: 46px;
      font-weight: 600;
    }
    .seperator-line::before {
      content: "";
      width: 40px;
      height: 3px;
      display: flex;
      flex-grow: 0;
      background-color: #fd2121;
      flex-shrink: 1;
      margin: 25px 0;
      transition: all 0.7s ease-in-out;
    }
  }
  .rgt-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h4 {
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      color: #232323;
    }
    p {
      line-height: 28px;
      font-size: 16px;
      color: #6f6f6f;
    }
    .icnwtxtbx {
      i {
        font-size: 24px;
        width: 35px;
      }
      p {
        text-transform: uppercase;
        color: #232323;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  &:hover .seperator-line::before {
    width: 65%;
    flex-grow: 1;
  }
}
.gallery {
  margin: 75px 0;
  .cards {
    max-width: 100%;
    grid-template-rows: repeat(2, 1fr);
    margin: 0;
    display: grid;
    gap: 0px;
    grid-template-areas:
      "one two four five"
      "three two six seven";
  }
  .card {
    background-color: #ff214f;
    color: white;
    width: 25vw;
    margin: 0;
    border-color: transparent;
    border-radius: 0px;
    border-width: 0px;
    figure {
      position: relative;
      transition: all ease-in-out 300ms;
      height: 100%;
      margin: 0;
      overflow: hidden;
      .grid-img {
        width: 100%;
        height: 100%;
        img {
          opacity: 1;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all ease-in-out 100ms, transform 200ms;
        }
      }
      figcaption {
        opacity: 0;
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        padding: 40px;
        bottom: -40px;
        transition: all 300ms ease-in-out;
        .textBox {
          color: white;
          text-transform: uppercase;
          text-align: start;
          height: 100%;
          .seperator-line {
            width: 40%;
            background-color: #000;
            opacity: 0.5;
            height: 1px;
            margin-bottom: 10px;
          }
          .headtxt {
            font-weight: 600;
          }
          .subtxt {
            letter-spacing: 1;
            line-height: 14px;
            font-size: 12px;
            margin: 0 !important;
          }
        }
      }
      &:hover figcaption {
        opacity: 1;
        bottom: 0;
      }
      &:hover img {
        filter: blur(5px);
        opacity: 0.2;
        transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        overflow: hidden;
        transition: all ease-in-out 100ms, transform 200ms;
      }
    }
  }
  .gBox1 {
    height: 50vh;
    grid-area: one;
  }
  .gBox2 {
    height: 100vh;
    grid-area: two;
  }
  .gBox3 {
    height: 50vh;
    grid-area: three;
  }
  .gBox4 {
    height: 50vh;
    grid-area: four;
  }
  .gBox5 {
    height: 50vh;
    grid-area: five;
  }
  .gBox6 {
    height: 50vh;
    grid-area: six;
  }
  .gBox7 {
    height: 50vh;
    grid-area: seven;
  }
}
.textsec {
  margin: 75px 0;
  .heading {
    width: 70%;
    h2 {
      font-size: 32px;
      line-height: 40px;
    }
  }
  .ser-boxes {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 75px;
    .headtxt {
      font-weight: 500;
      font-size: 20px;
    }
    p {
      color: #6f6f6f;
    }
    .explorebtn {
      color: #6f6f6f;
      display: inline-block;
      h6 {
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        position: relative;
        margin: 0;
        &::before {
          content: "";
          width: 80px;
          height: 0px;
          position: absolute;
          left: -90px;
          top: 50%;
          opacity: 0.2;
          border-top: 1px solid black;
        }
      }
      &:hover {
        color: #ff214f;
      }
      &:hover h6::before {
        border-top: 1px solid #ff214f;
      }
    }
  }
}
.featuresec {
  margin: 75px 0;
  padding: 100px 0;
  background: rgb(24, 24, 24);
  .heading {
    margin-bottom: 50px;
    color: #fcfcfc;
    h2 {
      text-transform: capitalize;
      font-weight: 500;
    }
    h6 {
      text-transform: uppercase;
      color: #6f6f6f;
      font-weight: 600;
    }
  }
  .content {
    margin-top: 75px;
    .singBox {
      width: 80%;
    }
  }
}
@media (max-width: 767px) {
  .heroBanner {
    overflow-x: hidden;
    .slider-wrapper {
      filter: brightness(1.2);
      .duoimg-container {
        position: static;
        display: block;
        .left-imgbnr {
          width: 100%;
          height: 90vh;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .rgt-imgbnr {
          position: relative;
          width: 100%;
          height: 90vh;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .bnrtxt {
            padding: 50px;
            left: 100px;
            right: 0;

            p {
              font-size: 0.6rem;
              font-weight: 600;
              text-transform: uppercase;
              text-decoration: underline;
              color: #d30000;
            }
            h1 {
              text-transform: capitalize;
            }
            button.btn {
              position: absolute;
              text-transform: uppercase;
              bottom: 0;
              right: 0;
              font-size: 0.6rem;
              padding: 10px 20px;
              border-radius: 0;
              font-weight: 700;
              background: black;
              color: white;
              &:active {
                border-color: black;
              }
            }
          }
        }
      }
      .slick-dots {
        bottom: 0;

        li {
          width: 10px;
        }

        button {
          display: block;
          width: 10px;
          height: 10px;
          padding: 0;

          border: 2px solid white;
          border-radius: 100%;

          text-indent: -9999px;
        }

        li.slick-active button {
          background-color: white;
        }
      }
    }
  }
  .handcraft-article {
    margin: 75px 0;
    p.arti-title {
      color: #fd2121;
      font-weight: 600;
    }
    .left-text {
      h4 {
        font-size: 26px;
        line-height: 30px;
      }
    }
    .rgt-text {
      gap: 15px;
    }
  }
  .gallery {
    .card {
      width: 50vw;
    }
    .cards {
      max-width: 100%;
      height: auto;
      overflow: hidden;
      margin: 0;
      display: grid;
      gap: 0px;
      grid-template-areas:
        "one two "
        "three two "
        "four five "
        "six seven";
    }
  }
  .textsec {
    margin: 75px 0;
    .heading {
      width: 100%;
      h2 {
        font-size: 26px;
        line-height: 30px;
      }
    }
    .ser-boxes {
      gap: 25px;
      margin-top: 40px;
      .explorebtn {
        h6 {
          padding-left: 90px;
          &::before {
            content: "";

            left: 0px;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .gallery {
    .cards {
      max-width: 100%;
      height: auto;
      overflow: hidden;
      margin: 0;
      display: grid;

      gap: 0px;
      grid-template-areas: "one" "two" "three" "four" "five" "six" "seven";
    }
    .card {
      width: 100vw;
    }
    .gBox2 {
      height: 50vh;
    }
  }
}
